/* header */
.header {
    background: #FFFFFF;
}

.header__logo-link:hover > .header__logo-title, .header__logo-link:focus > .header__logo-title {
    color: #F1CDB3;
}

.header__logo-title {
    color: #545454;
}

.header__logo-subtitle {
    color: #292929;
}


.nav__link {
    color: #545454;
}

.nav__link:hover, .nav__link:focus {
    color: #F1CDB3;
}

.nav__link:active {
    position: relative;
    top: 1px;
}

.nav__link_disabled {
    color: #292929;
}

.nav__btn-line {
    background: #000000;
}

/* friends */
.friends {
    background: #F6F6F6;
}

.friends__row {
    padding-top: 200px;
    padding-bottom: 100px;
}

.friends__title {
    margin-bottom: 60px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.friends__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 40px;
    row-gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.slider__item-btn {
    height: 52px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 100px;
}



.friends__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.friends__btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.friends__btn_disabled {
    pointer-events: none;
    cursor: default;   
    border: 2px solid #CDCDCD;
}

.friends__btn_disabled > .friends__btn-img {
    filter: invert(91%) sepia(0%) saturate(136%) hue-rotate(147deg) brightness(90%) contrast(94%);
}

.friends__btn:hover, .friends__btn:focus {
    background: #F1CDB3;
    outline: none;
}

.friends__btn:active {
    position: relative;
    top: 1px;
}

.friends__btn-img-prev, .friends__btn-img-to-start {
    transform: rotate(180deg);
}

.friends__page {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.friends__page:hover, .friends__page:focus {
    background: transparent;
    border: 2px solid #F1CDB3;
}

.friends__page:active {
    position: relative;
    top: 1px;
}