@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia-Regular.ttf") format("ttf"),
    url("../../assets/fonts/Georgia-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia-Bold.ttf") format("ttf"),
    url("../../assets/fonts/Georgia-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial-Regular.ttf") format("ttf"),
    url("../../assets/fonts/Arial-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial-Italic.ttf") format("ttf"),
    url("../../assets/fonts/Arial-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
}

body {
    font-family: "Arial";
}

.header, .main, .footer {
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

/* header */
.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #FFFFFF;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__logo-link {
    display: flex;
    flex-direction: column;
}

.header__logo-link:hover, .header__logo-link:focus {
    outline: none;
}

.header__logo-link:active {
    position: relative;
    top: 1px;
}

.header__logo-link:hover > .header__logo-title, .header__logo-link:focus > .header__logo-title {
    color: #F1CDB3;
}

.header__logo-title {
    margin-bottom: 10px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    transition: color 0.2s ease-in;
}

.header__logo-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
}

.nav__link {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    transition: color 0.2s ease-in;
}

.nav__link:hover, .nav__link:focus {
    color: #F1CDB3;
    outline: none;
}

.nav__link:active {
    position: relative;
    top: 1px;
}

.nav__link_disabled {
    pointer-events: none;
    cursor: default;
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

/* friends */
.friends {
    background: #F6F6F6;
}

.friends__row {
    padding-top: 200px;
    padding-bottom: 100px;
}

.friends__title {
    margin-bottom: 60px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.friends__items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 40px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    transition: transform 0.2s ease-in;
}

.slider__item:hover {
    transform: scale(1.05);
}

.slider__img {
    margin-bottom: 30px;
}

.slider__title {
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider__item-btn {
    width: 187px;
    height: 52px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.slider__item-btn:hover, .slider__item-btn:focus {
    background: #F1CDB3;
    outline: none;
}

.slider__item-btn:active {
    position: relative;
    top: 1px;
}

.friends__rest-link {
    width: 261px;
    transition: background 0.2s ease-in;
}

.friends__rest-link:hover, .friends__rest-link:focus {
    background: #FFFFFF;
    border: 2px solid #F1CDB3;
    outline: none;
}

.friends__rest-link:active {
    position: relative;
    top: 1px;
}

.friends__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.friends__btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.friends__btn_disabled {
    pointer-events: none;
    cursor: default;   
    border: 2px solid #CDCDCD;
}

.friends__btn_disabled > .friends__btn-img {
    filter: invert(91%) sepia(0%) saturate(136%) hue-rotate(147deg) brightness(90%) contrast(94%);
}

.friends__btn:hover, .friends__btn:focus {
    background: #F1CDB3;
    outline: none;
}

.friends__btn:active {
    position: relative;
    top: 1px;
}

.friends__btn-img-prev, .friends__btn-img-to-start {
    transform: rotate(180deg);
}

.friends__page {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.friends__page:hover, .friends__page:focus {
    background: transparent;
    border: 2px solid #F1CDB3;
}

.friends__page:active {
    position: relative;
    top: 1px;
}

/* footer */
.footer {
    background: url("../../assets/images/bg-gradient.png") center top no-repeat,
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-size: cover;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 160px;
    padding-top: 56px;
    padding-bottom: 60px;
    background: url("../../assets/images/footer-bg.png") right bottom no-repeat;
}

.footer__questions-wrap, .footer__visit-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 40px;
    max-width: 302px;
}

.footer__visit-wrap {
    row-gap: 32px;
}

.footer__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__title-visit {
    margin-bottom: -2px;
}

.footer__contact-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: color 0.2s ease-in;
}

.footer__contact-link:hover, .footer__contact-link:focus {
    color: #FFFFFF;
    outline: none;
}

.footer__contact-link:active {
    position: relative;
    top: 1px;
}