@media all and (max-width: 1230px) {
    .not-only__row {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    .slider__items {
        width: 580px;
    }

    .slider__items-inner {
        column-gap: 40px;
        width: 2425px;
    }
}

@media all and (max-width: 1000px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .not-only__row {
        align-items: center;
        padding-top: 150px;
        padding-bottom: 693px;
        background-size: 80.5%;
    }

    .not-only__title {
        width: 460px;
    }

    .about__row {
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 588px;
        background-position: bottom 100px center;
    }

    .about__content {
        width: auto;
    }

    .addition__row {
        justify-content: center;
        padding-bottom: 421px;
        background-position: center bottom 100px;
    }

    .addition__content {
        align-items: flex-start;
        width: 380px;
        padding-left: 0;
    }

    .footer__row {
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 375px;
        background-position: bottom center;
    }
}

@media all and (max-width: 868px) {
    .help__item {
        min-width: 170px;
        width: 33.33%;
    }

    .footer__row {
        justify-content: center;
        column-gap: 35px;
    }

    .footer__questions-wrap, .footer__visit-wrap {
        width: 50%;
    }
}

@media all and (max-width: 767px) {
    .nav__btn {
        display: flex;
    }
    
    .nav__list {
        display: none;
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 40px;
        width: 320px;
        padding-bottom: calc(100% - 475px);
        padding-top: 248px;
        background: #292929;
        /* transition: transform 2s ease-in; */
    }

    .nav__link {
        font-size: 32px;
    }

    .nav.open .nav__list {
        right: 0;
    }

    .nav.open .nav__btn {
        transform: rotate(90deg);
    }

    .slider__btns {
        top: 80%;
        width: 61%;
    }

    .slider__items {
        width: 270px;
        margin-bottom: 114px;
    }

    
}

@media all and (max-width: 685px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .not-only__row {
        padding-bottom: 376px;
        background-size: 86.5%;
    }

    .section__title, .not-only__title, .footer__title {
        font-size: 25px;
    }

    .about__container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about__row {
        padding-top: 42px;
        padding-bottom: 435px;
        background-position: bottom 42px center;
        background-size: 97%;
    }

    .about__content {
        align-items: center;
    }

    .about__title {
        text-align: center;
    }

    .about__description {
        text-align: justify;
    }

    .friends__row {
        padding-top: 42px;
        padding-bottom: 43px;
    }

    .friends__title {
        margin-bottom: 40px;
    }

    .help__row {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .help__title {
        margin-bottom: 41px;
    }

    .help__items {
        justify-content: space-between;
        row-gap: 30px;
    }

    .help__item {
        min-width: 137px;
        height: 87px;
    }

    .help__img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .help__description {
        font-size: 15px;
        line-height: 110%;
    }

    .addition__row {
        padding-top: 42px;
        padding-bottom: 219px;
        background-position: bottom 42px center;
        background-size: 94%;
    }

    .addition__content {
        align-items: center;
    }

    .addition__title {
        text-align: center;
    }

    .addition__subtitle {
        letter-spacing: 0;
        line-height: 160%;
    }

    .footer__row {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding-bottom: 310px;
        background-size: 87%;
    }

    .footer__questions-wrap, .footer__visit-wrap {
        align-items: center;
        width: 100%;
    }

    .footer__visit-wrap {
        row-gap: 40px;
    }

    .footer__title {
        max-width: 270px;
        text-align: center;
    }

    .footer__contact-link-last {
        width: 100%;
    }
}

@media all and (max-width: 520px) {
    .not-only__title {
        width: 100%;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .not-only__description {
        text-align: center;
    }

    .addition__bank-link {
        width: 281px;
        font-size: 15px;
        line-height: 110%;
    }
}


