@media all and (max-width: 1230px) {
    .not-only__row {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    .slider__items {
        width: 580px;
    }

    .slider__items-inner {
        column-gap: 40px;
        width: 2425px;
    }
}

@media all and (max-width: 1000px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .not-only__row {
        align-items: center;
        padding-top: 150px;
        padding-bottom: 693px;
        background-size: 80.5%;
    }

    .not-only__title {
        width: 460px;
    }

    .about__row {
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 588px;
        background-position: bottom 100px center;
    }

    .about__content {
        width: auto;
    }

    .addition__row {
        justify-content: center;
        padding-bottom: 421px;
        background-position: center bottom 100px;
    }

    .addition__content {
        align-items: flex-start;
        width: 380px;
        padding-left: 0;
    }

    .footer__row {
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 375px;
        background-position: bottom center;
    }
}

@media all and (max-width: 868px) {
    .help__item {
        min-width: 170px;
        width: 33.33%;
    }

    .footer__row {
        justify-content: center;
        column-gap: 35px;
    }

    .footer__questions-wrap, .footer__visit-wrap {
        width: 50%;
    }
}