@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia-Regular.ttf") format("ttf"),
    url("../../assets/fonts/Georgia-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia-Bold.ttf") format("ttf"),
    url("../../assets/fonts/Georgia-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial-Regular.ttf") format("ttf"),
    url("../../assets/fonts/Arial-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial-Italic.ttf") format("ttf"),
    url("../../assets/fonts/Arial-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
}

body {
    font-family: "Arial";
}

.header, .main, .footer {
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

/* header */
.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.header__logo-link {
    display: flex;
    flex-direction: column;
}

.header__logo-title {
    margin-bottom: 10px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}

.header__logo-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
}

.nav__link {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.nav__link_disabled {
    pointer-events: none;
    cursor: default;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

/* not only */
.not-only {
    background: url("../../assets/images/bg-gradient.png") center top no-repeat,
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-size: cover;
}

.not-only__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 343px;
    padding-bottom: 243px;
    background: url("../../assets/images/welcome-bg.png") right bottom no-repeat;
}

.section__title {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.not-only__title {
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.section__description {
    max-width: 430px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.not-only__description {
    max-width: 460px;
    margin-bottom: 42px;
    color: #CDCDCD;
}

.rounded-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
}

.not-only__make-a-friend-link {
    width: 207px;
}

/* about */
.about {
    background: #FFFFFF;
}

.about__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 94px;
    padding-bottom: 100px;
    background: url("../../assets/images/about-bg.png") top 80px left calc(50% - 300px) no-repeat;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 25px;
    width: 50%;
}

/* friends */
.friends {
    background: #F6F6F6;
}

.friends__row {
    padding-top: 80px;
    padding-bottom: 100px;
}

.friends__title {
    margin-bottom: 60px;
    text-align: center;
}

.friends__slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider__btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slider__btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn-img-prev {
    transform: rotate(180deg);
}

.slider__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 90px;
    margin-bottom: 60px;
    overflow: hidden;
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
}

.slider__img {
    margin-bottom: 30px;
}

.slider__title {
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider__item-btn {
    width: 187px;
    background: transparent;
    border: 2px solid #F1CDB3;
    cursor: pointer;
}

.friends__rest-link {
    width: 261px;
}

/* help */
.help {
    background: #FFFFFF;
}

.help__row {
    padding-top: 80px;
    padding-bottom: 100px;
}

.help__title {
    margin-bottom: 60px;
    text-align: center;
}

.help__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.help__img {
    margin-bottom: 30px;
}

.help__description {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

/* addition */
.addition {
    background: #F6F6F6;
}

.addition__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 80px;
    padding-bottom: 100px;
    background: url("../../assets/images/addition-bg.png") center left calc(50% - 205px) no-repeat;
}

.addition__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
    width: 50%;
    padding-left: 75px;
}

.addition__subtitle {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.addition__bank-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    height: 43px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    background: #F1CDB3;
    border-radius: 9px;
}

.addition__description {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

/* footer */
.footer {
    background: url("../../assets/images/bg-gradient.png") center top no-repeat,
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-size: cover;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 160px;
    padding-top: 56px;
    padding-bottom: 60px;
    background: url("../../assets/images/footer-bg.png") right bottom no-repeat;
}

.footer__questions-wrap, .footer__visit-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 40px;
    max-width: 302px;
}

.footer__visit-wrap {
    row-gap: 32px;
}

.footer__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__title-visit {
    margin-bottom: -2px;
}

.footer__contact-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}