@media all and (max-width: 1200px) {
    .popup__inner {
        width: 82%;
        max-width: 630px;
        padding-right: 5px;
    }

    .popup__content {
        max-width: 42%;
        padding-top: 10px;
        padding-bottom: 35px;
    }

    .popup__img-wrap {
        width: 54%;
    }

    .popup__img {
        width: 100%;
    }

    .popup__type {
        margin-bottom: 20px;
    }

    .popup__description {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 110%;
    }

    .popup__list {
        row-gap: 5px;
    }
}

@media all and (max-width: 1000px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__row {
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 375px;
        background-position: bottom center;
    }
}

@media all and (max-width: 868px) {
    .footer__row {
        column-gap: 35px;
    }
    
    .footer__questions-wrap, .footer__visit-wrap {
        width: 50%;
    }
}

@media all and (max-width: 767px) {
    .overlay {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(38, 36, 37, 0.7);
        opacity: 0;
    }
    
    .overlay.open {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

    .nav__btn {
        display: flex;
    }
    
    .nav__list {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        row-gap: 40px;
        width: 320px;
        height: 102vh;
        background: #292929;
        transform: translateX(100%);
    }

    .nav__link {
        font-size: 32px;
    }

    .nav.open .nav__list {
        transform: translateX(0);
        transition: transform 0.3s ease-in;
    }

    .nav.open .nav__btn {
        transform: rotate(90deg);
    }
}

@media all and (max-width: 685px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section__title, .footer__title {
        font-size: 25px;
    }

    .popup__btn {
        right: -32px;
    }

    .popup__content {
        max-width: 50%;
        /* maybee 45% */
    }

    .footer__row {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        padding-bottom: 310px;
        background-size: 45%;
    }

    .footer__questions-wrap, .footer__visit-wrap {
        align-items: center;
        width: 100%;
    }

    .footer__visit-wrap {
        row-gap: 40px;
    }

    .footer__title {
        max-width: 270px;
        text-align: center;
    }

    .footer__contact-link-last {
        width: 100%;
    }
}

@media all and (max-width: 520px) {
    .popup__img-wrap {
        display: none;
    }

    .popup__inner {
        justify-content: flex-start;
        max-width: 240px;
        padding-left: 10px;
        padding-right: 0 10px;
    }

    .popup__content {
        max-width: 100%;
        padding-bottom: 10px;
    }

    .popup__name, .popup__type {
        text-align: center;
    }

    .popup__description {
        text-align: justify;
    }

    .footer__row {
        background-size: 87%;
    }
}